body {
    font-family: "Roboto Mono", monospace;
    min-height: 854px;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6000ca11-0422-48c9-9254-65f6ba392a7c/db45zrx-82a76074-7256-4283-8803-f799a4e5fc86.png/v1/fill/w_622,h_350,q_70,strp/mutou_yuugi__yu_gi_oh___minimal_wallpaper_by_max028_db45zrx-350t.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUwMCIsInBhdGgiOiJcL2ZcLzYwMDBjYTExLTA0MjItNDhjOS05MjU0LTY1ZjZiYTM5MmE3Y1wvZGI0NXpyeC04MmE3NjA3NC03MjU2LTQyODMtODgwMy1mNzk5YTRlNWZjODYucG5nIiwid2lkdGgiOiI8PTgwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.x30ES769MoN9UXhWB6VyIJnpvjjDqf9m-w7CDHH96vc);
    background-color: #000000;
    background-size: 1280px 920px;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 5px 0;
  }
  
  button,
  .button-jogar {
    padding: 0.8rem 1.5rem;
    margin: 1rem 0;
    border-radius: 10px;
    border: groove;
    font-size: 1rem;
  }
  
  h2 {
    color: white;
  }
  
  #carta-jogador,
  #carta-maquina {
    width: 360px;
    height: 600px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 280px;
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 50px;
    border-radius: 33px;
  }
  
  #carta-jogador h3 {
    text-align: center;
  }
  
  .carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
  }
  
  .carta-imagem img {
    width: 100%;
    height: 100%;
  }
  
  .carta-status {
    height: 160px;
    margin: 2rem;
    color: white;
    z-index: 2;
  }
  
  .carta-status input {
    margin: 10px 5px;
    height: 10px;
  }
  
  .resultado-final {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem;
    border: 2px solid black;
    background-color: black;
  }
  
  .--spacing {
    margin-left: 2.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 16px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
  }
  
  #cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .carta-status p {
    margin-bottom: 2rem;
  }
  